.Details {
    text-align: center;
    height: fit-content;
    position: absolute;
    right: 0px;
    top: 470px;
    height: 177px;
    background-color: #205295/*chocolate*/;
    width:22vw;
    color:white;
    min-width:380px;
  }
h1.ak2{
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px #1c87c9;
  color:purple;
}
/* ::placeholder { 
  color: chocolate;
  opacity: 1; 
} */
  
.in1{
  display: inline-flex !important;
  margin-bottom: 5px;
  justify-content:space-evenly !important;
  
}