.Navbar {
    text-align: center;
    height: fit-content;
    position: absolute;
    bottom: 0px;
    min-height: 100px;
    background-color: #2C74B3/*7DB9B6*/; 
    width:100vw;
  }
.buttons{
  position:absolute;
  bottom:0px;
  width:100vw;
  text-align: center;/*width+text-align combination center mai kr de ga sbko*/
}

.present{
  padding-left: 40px;
  
  text-align: left;
  margin: auto;
  width: fit-content;
}
  
  